.home {
  #headerText {
      text-align: center;
      margin-top: 2rem;
  }
  
  #searchItem {
      width: 58%;
      margin-left: auto;
      margin-right: auto;
  }
  
  ion-scroll {
      height: 40%;
      margin-top: 4rem;
  }
  
  ion-card {
      width: 40%;
      padding: 1rem;
      position: absolute;
      bottom: 5px;
      background: dimgrey;
      animation-name: fadeIn;
      animation-duration: 1s;
  }
  
  @media (max-width: 620px) {
      #searchItem {
          width: 93%;
          margin-left: 0;
          margin-right: 0;
      }
      
      ion-scroll {
          height: 60%;
      }
  }
  
  @media (max-width: 415px) {
      ion-scroll {
          height: 50%;
      }
      
      ion-card {
          width: 60%;
          height: 7em;
      }
  }
  
  @media (max-width: 365px) {
      ion-scroll {
          height: 37%;
      }
      
      #currentPlayingText {
          display: none;
      }
      
      ion-card {
          height: 10%;
          width: 11%;
          padding: 0;
      }
  }
  
  #songListItem {
      animation-name: fadeIn;
      animation-duration: 1s;
  }
  
  #currentPlayingText {
      color: white;
  }
  
  @keyframes fadeIn {
      from {
          opacity: 0;
      }
      to {
          opacity: 1;
      }
  }
}
